.sidebar {
  display: flex;
  
  height: 100%;
  padding: 16px;
  border-radius: 16px;
  transition: color 0.3s;
}

.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 14%;
  height: 100vh;
  border-right: solid;
border-color: aqua;
    border-right-style: solid;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 16px;
  border-bottom: 1px solid #d1d5db;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 900;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.sectionTitle {
  margin: 16px 0 0 16px;
  font-size: 12px;
  color: #6b7280;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #2563eb;
  }
}


:global(.dark) .container {
  color: #fef3c7;
}

:global(.dark) .header {
  border-color: #374151;
}

:global(.dark) .sectionTitle {
  color: #9ca3af;
}
.exitx{
  color: red;
}
.accext{
  display: flex;
  flex-direction: column;
 
 gap: 8px;
  margin-top: auto; 
}
.adminPanel{

  display: flex;
  flex-direction: column;
  gap: 5%;
}
.WrapperChangeLanguage{
  display: flex;
  justify-content: center;
}
.wrapaccext{
min-height: 50%;
max-height: 42%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column-reverse}