

.DashBoardPage {
  display: flex;
  min-height: 100vh;
gap: 3%;
  .Sidebar {
    border-right: 1px solid #e0e0e0;
    box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  }
.wrap_metricCard{
  display: flex;
  flex-direction: row;
  width: 55%;
  gap: 6%;
}
.wrapper_hellowindow{
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: flex-end;
  gap: 10%;
}

.hellowindow{
  border-style: inset;
        border-radius: 12px;
      width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
      height: 80%;
        padding: 1.5rem 2rem;
        box-shadow: 0 6px 20px rgba(0,0,0,0.08);
        flex: 1 1 200px;
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        cursor: pointer;
        
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 12px 25px rgba(0,0,0,0.12);
        }
}

  .mainContent {
    flex: 1;
    padding: 2rem;
margin-left: 12%;
    .pageTitle {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
.greeting{
  display: flex;
  width: 30%;
  flex-direction: column;
  border: solid;
  align-items: flex-start;
}

.wrapper_greeting{
  width: 100%;
  display: flex;
  justify-content: center;
}

    .metrics {
      display: flex;
      gap: 5%;
      height: 51%;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      padding-top: 3%;
  width: 100%;
      .metricCard {
       border-style: inset;
        border-radius: 12px;

      border:solid;
      
        padding: 1.5rem 2rem;
        box-shadow: 0 6px 20px rgba(0,0,0,0.08);
        flex: 1 1 200px;
        height: 35%;
        text-align: center;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        cursor: default;

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 12px 25px rgba(0,0,0,0.12);
        }

        .metricTitle {
          font-size: 1rem;
          
          margin-bottom: 0.5rem;
        }

        .metricValue {
          font-size: 2.2rem;
          font-weight: bold;
          
        }
      }
    }
  }
}
